@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

main {
  display: flex;
  justify-content: center;  
}

.contenedor-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #00A1DA;
  padding-top: 100px;
}

.contenedor-texto {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 15px 0px 0px 15px;
  height: 100%;
  align-items: center;
  padding: 25px;
}

.login {
  font-family: 'Lobster', cursive;
  font-size: 90px;
  color: #00A1DA;
}

.right {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 15px 15px 0px;
  padding: 50px;
}

.contenedor-login form {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 161, 218, .5);
  padding: 25px;
  border-radius: 15px;
  justify-content:flex-start;
}

form input, label, a {
  margin-top: 10px;
  border: 0;
}

form input {
  padding: 10px;
  border-radius: 10px;
}

.lower {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#submit {
  background-color: white;
  border: 0;
  padding: 10px;
  color: #00A1DA;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#submit:hover {
  background-color: #00A1DA;
  color: white;
  
}

#registrar {
  background-color: #00A1DA;
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#registrar:hover {
  background-color: white;
  color:#00A1DA;
}

